.socialSignin {
    margin: .5rem auto 0;
  }
  
.links {
    display: block;
    width: 100%;
    margin: 1.5rem auto 0;
  
    a {
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        float: right;
    }
}